.form {
    display: flex;
    flex-direction: column;
    margin: 10vw;
  }
  
  .form-title {
    text-align: center;
    font-size: 1.8em;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    margin-top: 2vh;
    margin-bottom: 3.5vh;
  }
  
  .form-label {
    margin-bottom: 1vw;
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  .form-input,
  .form-dropdown {
    margin-bottom: 4vw;
    background-color: rgb(67, 68, 67);
    color: white;
    border: none;
    border-radius: 0.5rem;
    height: 5vh;
  }
  
  .form-dropdown:hover {
    cursor: pointer;
  }
  
  .submit-btn {
    margin-top: 2vw;
    height: 5.5vh;
    font-family: "Noto Sans", sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 0.8rem;
    background-color: #c23732;
    color: white;
  }
  
  .submit-btn:hover {
    background-color: #c44541;
    cursor: pointer;
  }
  
  @media screen and (max-width: 600px) {
  }
  