.dietContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);  gap: 20px;
    gap: 20px;
    padding: 20px;
  }
  
  .dietCard {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .dietDescContainer{
    display: grid;
    grid-template-columns: repeat( 1, 1fr);  gap: 20px;
    gap: 20px;
    padding: 20px;
  }

  .dietImage{
    text-align: center;
  }
  
  .dietTemplate{
    text-align: center;
    font-weight: bold;
    font-size: 800;
  }

  .dietImage{
    max-width: 750px;
    max-height: auto;
  }

  .dietImageDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  