.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #c23732;
  color: #ffffff;
}

.navbar-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 5vw;
}

.navbar-list-container {
  display: flex;
  align-items: center;
  margin-right: 3vw;
}

.navbar-list-container a {
  color: #ffffff;
  text-decoration: none;
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1rem;
}

.navbar-items {
  margin-left: 1rem;
}

.navbar-items a:hover {
  color: #ff0000;
}

@media (max-width: 540px) {
  .navbar-list-container {
    display: none;
  }
}
