.form {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  margin-left: 12vw;
  margin-right: 12vw;
}

.form-title {
  text-align: center;
  font-size: 1.8em;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  margin-top: 2vh;
  margin-bottom: 3.5vh;
}

.form-label {
  margin-bottom: 1vh;
  font-size: 0.8rem;
  font-weight: 500;
}

.form-input,
.form-dropdown {
  text-indent: 1rem;
  margin-bottom: 4vw;
  background-color: rgb(67, 68, 67);
  color: white;
  border-radius: 2rem;
  border: solid 1px #cf4d48;
  height: 5vh;
}

.form-dropdown:hover {
  cursor: pointer;
}

.submit-btn {
  margin-top: 2vw;
  height: 5.5vh;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 2rem;
  background-color: #c23732;
  color: white;
}

.submit-btn:hover {
  background-color: #c44541;
  cursor: pointer;
}

.has-account {
  text-align: center;
  margin-top: 2.5vh;
  font-size: 0.8rem;
  font-weight: 500;
  padding-bottom: 20vh;
}

.login-link {
  color: rgb(219, 86, 86);
  text-decoration: none;
}

@media screen and (max-width: 614px) {
  .form-title {
    font-size: 2.25em;
    margin-top: -1vh;
    margin-bottom: 6vh;
  }

  .form-label {
    margin-bottom: -2.5vh;
    font-size: 0.9em;
  }

  .form-input,
  .form-dropdown {
    font-family: "Noto Sans", sans-serif;
    font-size: 0.95rem;
    font-weight: 500;
    margin-bottom: 1vh;
    height: 10vh;
  }

  .submit-btn {
    margin-top: 2vh;
    border-radius: 1.5rem;
    height: 10vh;
  }
}

@media screen and (min-width: 615px) and (max-width: 900px) {
  .form {
    margin-left: 15vw;
    margin-right: 15vw;
  }
  .form-title {
    font-size: 3em;
    margin-top: -1vh;
    margin-bottom: 9vh;
  }

  .form-label {
    margin-bottom: -2.5vh;
    font-size: 0.9em;
  }

  .form-input,
  .form-dropdown {
    font-family: "Noto Sans", sans-serif;
    font-size: 0.95rem;
    font-weight: 500;
    margin-bottom: 2vh;
    height: 11vh;
  }

  .submit-btn {
    margin-top: 2vh;
    height: 10vh;
  }
}

@media screen and (min-width: 901px) {
  .form {
    margin-left: 20vw;
    margin-right: 20vw;
  }

  .form-title {
    font-size: 3.2em;
    margin-top: -1vh;
    margin-bottom: 9vh;
  }

  .form-label {
    margin-bottom: -2.5vh;
    font-size: 0.9em;
  }

  .form-input,
  .form-dropdown {
    font-family: "Noto Sans", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 3vh;
    height: 11vh;
  }

  .submit-btn {
    margin-top: 2vh;
    height: 10vh;
  }

  .has-account {
    margin-top: 2.5vh;
    font-size: 1rem;
  }
}
