.form {
  display: flex;
  flex-direction: column;
  margin: 5vw;
}

.form-title {
  text-align: center;
  font-size: 1.8em;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.form-label {
  margin-bottom: 1vw;
}

.form-input {
  margin-bottom: 2vw;
}

.submit-btn {
  margin-top: 2vw;
}

@media screen and (max-width: 600px) {
}
