.admin-login-page-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.admin-login-page-top-container {
  width: 100%;
  height: 666px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: #312f2f;
}
.admin-login-page-navbar {
  width: 1025px;
  height: 101px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.admin-login-page-logo {
  color: var(--dl-color-gray-white);
}
.admin-login-page-text01 {
  color: var(--dl-color-primary-100);
}
.admin-login-page-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.admin-login-page-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.admin-login-page-home {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.admin-login-page-home:hover {
  cursor: pointer;
}
.admin-login-page-features {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  animation-name: none;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.admin-login-page-features:hover {
  cursor: pointer;
}
.admin-login-page-preview {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.admin-login-page-preview:hover {
  cursor: pointer;
}
.admin-login-page-contact {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.admin-login-page-contact:hover {
  cursor: pointer;
}
.admin-login-page-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.admin-login-page-burger-menu1 {
  width: 24px;
  height: 24px;
}
.admin-login-page-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.admin-login-page-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.admin-login-page-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.admin-login-page-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.admin-login-page-icon03 {
  width: 24px;
  height: 24px;
}
.admin-login-page-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.admin-login-page-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.admin-login-page-text02 {
  margin-bottom: 8px;
}
.admin-login-page-text03 {
  margin-bottom: 8px;
}
.admin-login-page-text04 {
  margin-bottom: 8px;
}
.admin-login-page-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.admin-login-page-text06 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.admin-login-page-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.admin-login-page-link {
  display: contents;
}
.admin-login-page-icon05 {
  width: 24px;
  height: 24px;
}
.admin-login-page-link1 {
  display: contents;
}
.admin-login-page-icon07 {
  width: 24px;
  height: 24px;
}
.admin-login-page-link2 {
  display: contents;
}
.admin-login-page-icon09 {
  width: 24px;
  height: 24px;
}
.admin-login-page-container1 {
  width: 916px;
  height: 471px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
}
.admin-login-page-component-spacer {
  gap: 0;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-primary-100);
  border-width: 5px;
  border-radius: 20px;
  justify-content: center;
}
.admin-login-page-image {
  width: 470px;
  height: 461px;
  object-fit: cover;
  border-radius: 18px;
}
.admin-login-page-form {
  gap: var(--dl-space-space-doubleunit);
  flex: 0 0 auto;
  width: 440px;
  height: 461px;
  display: flex;
  padding: var(--dl-space-space-quadruple);
  align-self: center;
  margin-top: 0px;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
}
.admin-login-page-text07 {
  color: var(--dl-color-gray-white);
  width: 100%;
  align-self: flex-start;
  margin-top: 0.8em;
  text-align: center;
}
.admin-login-page-username {
  width: 100%;
  border-radius: 10px;
}
.admin-login-page-password {
  width: 100%;
  border-radius: 10px;
}
.admin-login-page-login-reroute {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.admin-login-page-text08 {
  color: var(--dl-color-gray-700);
  font-size: 12px;
  align-self: center;
}
.admin-login-page-navlink {
  color: var(--dl-color-primary-100);
  font-size: 12px;
  align-self: center;
  transition: 0.3s;
  text-decoration: none;
}
.admin-login-page-navlink:hover {
  cursor: pointer;
}
.admin-login-page-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 6rem;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.admin-login-page-menu {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.admin-login-page-links-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.admin-login-page-follow-container1 {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.admin-login-page-text12 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.admin-login-page-icons-container1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.admin-login-page-link3 {
  display: contents;
}
.admin-login-page-icon11 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.admin-login-page-link4 {
  display: contents;
}
.admin-login-page-icon13 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.admin-login-page-link5 {
  display: contents;
}
.admin-login-page-icon15 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
@media(max-width: 1200px) {
  .admin-login-page-form {
    width: 50%;
    padding: var(--dl-space-space-quadruple);
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .admin-login-page-text07 {
    color: var(--dl-color-gray-white);
  }
  .admin-login-page-login-reroute {
    height: 13px;
  }
}
@media(max-width: 767px) {
  .admin-login-page-right-side {
    display: none;
  }
  .admin-login-page-burger-menu {
    display: flex;
  }
  .admin-login-page-menu {
    flex-direction: column;
  }
  .admin-login-page-links-container2 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .admin-login-page-links-container2 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .admin-login-page-follow-container1 {
    margin-left: 0px;
  }
}
