.features-page-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.features-page-top-container {
  width: 100%;
  height: 913px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: #312f2f;
}
.features-page-navbar {
  width: 100%;
  height: 101px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 100%;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.features-page-navlink {
  display: contents;
}
.features-page-logo {
  color: var(--dl-color-gray-white);
  font-size: 2.5em;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.features-page-text01 {
  color: var(--dl-color-primary-100);
}
.features-page-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features-page-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features-page-home {
  color: var(--dl-color-gray-white);
  font-size: 1.3em;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.features-page-home:hover {
  color: var(--dl-color-primary-100);
  cursor: pointer;
}
.features-page-features {
  color: var(--dl-color-gray-white);
  font-size: 1.3em;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  animation-name: none;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.features-page-features:hover {
  color: var(--dl-color-primary-100);
  cursor: pointer;
}
.features-page-preview {
  color: var(--dl-color-gray-white);
  font-size: 1.3em;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.features-page-preview:hover {
  color: var(--dl-color-primary-100);
  cursor: pointer;
}
.features-page-contact {
  color: var(--dl-color-gray-white);
  font-size: 1.3em;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.features-page-contact:hover {
  color: var(--dl-color-primary-100);
  cursor: pointer;
}
.features-page-get-started {
  color: var(--dl-color-gray-white);
  width: 100%;
  align-self: center;
  margin-top: 0px;
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  margin-right: 1.5em;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 30px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.features-page-get-started:hover {
  color: var(--dl-color-gray-white);
  background-color: #eb4141;
}
.features-page-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features-page-burger-menu1 {
  width: 24px;
  height: 24px;
}
.features-page-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.features-page-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.features-page-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.features-page-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.features-page-icon03 {
  width: 24px;
  height: 24px;
}
.features-page-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.features-page-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.features-page-text05 {
  margin-bottom: 8px;
}
.features-page-text06 {
  margin-bottom: 8px;
}
.features-page-text07 {
  margin-bottom: 8px;
}
.features-page-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.features-page-text09 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.features-page-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.features-page-link {
  display: contents;
}
.features-page-icon05 {
  width: 24px;
  height: 24px;
}
.features-page-link1 {
  display: contents;
}
.features-page-icon07 {
  width: 24px;
  height: 24px;
}
.features-page-link2 {
  display: contents;
}
.features-page-icon09 {
  width: 24px;
  height: 24px;
}
.features-page-features1 {
  width: 1133px;
  height: 636px;
  display: flex;
  max-width: 1400px;
  flex-direction: column;
}
.features-page-text10 {
  color: var(--dl-color-gray-white);
  width: 994px;
  height: 81px;
  font-size: 3.5rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.features-page-container1 {
  width: 1123px;
  height: 651px;
  display: grid;
  grid-gap: 32px;
  align-self: stretch;
  grid-template-columns: 1fr 1fr;
}
.features-page-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 6rem;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.features-page-mobile-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: flex-start;
}
.features-page-icons-container1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.features-page-link3 {
  display: contents;
}
.features-page-icon11 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.features-page-link4 {
  display: contents;
}
.features-page-icon13 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.features-page-link5 {
  display: contents;
}
.features-page-icon15 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.features-page-links-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features-page-desktop-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.features-page-menu {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features-page-logo2 {
  margin-left: var(--dl-space-space-tripleunit);
}
.features-page-text20 {
  color: var(--dl-color-primary-100);
}
.features-page-links-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features-page-follow-container1 {
  display: flex;
  align-items: center;
  margin-left: 4.5em;
  margin-right: 4.5em;
  flex-direction: column;
  justify-content: space-between;
}
.features-page-text22 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.features-page-icons-container2 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.features-page-link6 {
  display: contents;
}
.features-page-icon17 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.features-page-link7 {
  display: contents;
}
.features-page-icon19 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.features-page-link8 {
  display: contents;
}
.features-page-icon21 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
@media(max-width: 1600px) {
  .features-page-features1 {
    height: 708px;
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .features-page-text10 {
    color: var(--dl-color-gray-white);
    height: 97px;
    font-size: 2.6rem;
  }
  .features-page-text11 {
    font-size: 3rem;
  }
  .features-page-text12 {
    font-size: 3rem;
  }
  .features-page-text13 {
    font-size: 3rem;
  }
  .features-page-text14 {
    font-size: 3rem;
  }
  .features-page-container1 {
    height: 507px;
  }
}
@media(max-width: 1200px) {
  .features-page-top-container {
    height: 650px;
  }
  .features-page-get-started {
    border-radius: 10px;
  }
  .features-page-mobile-footer {
    display: none;
  }
  .features-page-menu {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
  .features-page-logo2 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .features-page-follow-container1 {
    margin-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 991px) {
  .features-page-logo2 {
    margin-left: 2.5em;
    margin-right: 0px;
  }
  .features-page-follow-container1 {
    margin-left: 3.2em;
    margin-right: var(--dl-space-space-quadruple);
  }
}
@media(max-width: 767px) {
  .features-page-right-side {
    display: none;
  }
  .features-page-burger-menu {
    display: flex;
  }
  .features-page-features1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .features-page-container1 {
    grid-template-columns: 1fr;
  }
  .features-page-mobile-footer {
    display: none;
  }
  .features-page-links-container2 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .features-page-text16 {
    font-size: 12px;
  }
  .features-page-desktop-footer {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .features-page-menu {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .features-page-logo2 {
    display: none;
  }
  .features-page-links-container3 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .features-page-follow-container1 {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .features-page-top-container {
    width: 100%;
    height: 1306px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .features-page-navbar {
    margin-bottom: 0px;
  }
  .features-page-logo {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 3em;
    text-align: center;
    margin-left: 0px;
  }
  .features-page-text01 {
    color: var(--dl-color-primary-100);
  }
  .features-page-get-started {
    color: var(--dl-color-gray-white);
    width: 236px;
    height: 4em;
    font-size: 1em;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-doubleunit);
    border-radius: 10px;
    padding-right: var(--dl-space-space-doubleunit);
    animation-name: fadeInUp;
    animation-delay: 0s;
    text-decoration: none;
    background-color: var(--dl-color-primary-100);
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .features-page-burger-menu1 {
    display: none;
  }
  .features-page-features1 {
    width: 100%;
    height: 913px;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .features-page-text10 {
    color: var(--dl-color-gray-white);
    width: 359px;
    height: 222px;
    font-size: 2.3rem;
    align-self: center;
    text-align: center;
  }
  .features-page-text11 {
    width: 100%;
    height: 132px;
    font-size: 3rem;
  }
  .features-page-text12 {
    width: 100%;
    height: 132px;
    font-size: 3rem;
  }
  .features-page-text13 {
    font-size: 2.7rem;
  }
  .features-page-text14 {
    font-size: 2.7rem;
  }
  .features-page-text15 {
    font-size: 2.7rem;
  }
  .features-page-container1 {
    width: 100%;
    height: 100%;
    align-self: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .features-page-footer {
    height: 114px;
  }
  .features-page-mobile-footer {
    height: 90px;
    display: flex;
    flex-direction: column;
  }
  .features-page-icons-container1 {
    gap: var(--dl-space-space-unit);
    width: auto;
    height: var(--dl-size-size-doubleunit);
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    justify-content: center;
  }
  .features-page-links-container2 {
    gap: var(--dl-space-space-quadruple);
    width: 100%;
    height: 100%;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .features-page-text16 {
    font-size: 15px;
    text-align: left;
    margin-left: var(--dl-space-space-unit);
  }
  .features-page-text17 {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
  }
  .features-page-desktop-footer {
    display: none;
  }
  .features-page-links-container3 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .features-page-follow-container1 {
    margin-left: 0px;
  }
}
