.features-page-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.features-page-top-container {
  width: 100%;
  height: 708px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  background-color: #312f2f;
}
.features-page-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
  background-color: #312f2f;
}
.features-page-navlink {
  display: contents;
}
.features-page-logo {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.features-page-text01 {
  color: var(--dl-color-primary-100);
}
.features-page-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.features-page-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.features-page-text02 {
  color: var(--dl-color-gray-white);
}
.features-page-text05 {
  color: var(--dl-color-gray-white);
  margin-left: 32px;
}
.features-page-text06 {
  color: var(--dl-color-gray-white);
  margin-left: 32px;
}
.features-page-buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features-page-login {
  color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: 32px;
  background-color: var(--dl-color-primary-100);
}
.features-page-register {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-primary-100);
}
.features-page-burger-menu {
  display: none;
}
.features-page-icon {
  width: 16px;
  height: 16px;
}
.features-page-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.features-page-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.features-page-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.features-page-navlink1 {
  display: contents;
}
.features-page-logo1 {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.features-page-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-page-icon02 {
  width: 16px;
  height: 16px;
}
.features-page-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.features-page-home {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.features-page-features {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.features-page-preview {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.features-page-login1 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.features-page-get-started {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.features-page-features1 {
  width: 1000px;
  height: 488px;
  display: flex;
  max-width: 1400px;
  flex-direction: column;
}
.features-page-text09 {
  color: var(--dl-color-gray-white);
  width: 1034px;
  height: 24px;
  font-size: 2.6rem;
  margin-bottom: 48px;
}
.features-page-container1 {
  width: 1019px;
  height: 261px;
  display: grid;
  grid-gap: 32px;
  align-self: stretch;
  grid-template-columns: 1fr 1fr;
}
.features-page-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 6rem;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.features-page-mobile-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: flex-start;
}
.features-page-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.features-page-link {
  display: contents;
}
.features-page-icon04 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.features-page-link1 {
  display: contents;
}
.features-page-icon06 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.features-page-link2 {
  display: contents;
}
.features-page-icon08 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.features-page-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features-page-desktop-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.features-page-menu {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features-page-logo2 {
  margin-left: var(--dl-space-space-tripleunit);
}
.features-page-links-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.features-page-follow-container {
  display: flex;
  align-items: center;
  margin-left: 4.5em;
  margin-right: 4.5em;
  flex-direction: column;
  justify-content: space-between;
}
.features-page-text19 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.features-page-icons-container1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.features-page-link3 {
  display: contents;
}
.features-page-icon10 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.features-page-link4 {
  display: contents;
}
.features-page-icon12 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.features-page-link5 {
  display: contents;
}
.features-page-icon14 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
@media(max-width: 1200px) {
  .features-page-top-container {
    height: 650px;
  }
  .features-page-navbar-interactive {
    background-color: #312f2f;
  }
  .features-page-text02 {
    color: var(--dl-color-gray-white);
  }
  .features-page-text05 {
    color: var(--dl-color-gray-white);
  }
  .features-page-text06 {
    color: var(--dl-color-gray-white);
  }
  .features-page-login {
    color: var(--dl-color-gray-white);
    background-color: var(--dl-color-primary-100);
  }
  .features-page-register {
    color: var(--dl-color-gray-white);
    background-color: var(--dl-color-primary-100);
  }
  .features-page-mobile-footer {
    display: none;
  }
  .features-page-menu {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
  .features-page-logo2 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .features-page-follow-container {
    margin-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 991px) {
  .features-page-links {
    gap: var(--dl-space-space-doubleunit);
  }
  .features-page-text02 {
    color: var(--dl-color-gray-white);
  }
  .features-page-text05 {
    color: var(--dl-color-gray-white);
  }
  .features-page-text06 {
    color: var(--dl-color-gray-white);
  }
  .features-page-login {
    color: var(--dl-color-gray-white);
    background-color: var(--dl-color-primary-100);
  }
  .features-page-register {
    color: var(--dl-color-gray-white);
    background-color: var(--dl-color-primary-100);
  }
  .features-page-logo2 {
    margin-left: 2.5em;
    margin-right: 0px;
  }
  .features-page-follow-container {
    margin-left: 3.2em;
    margin-right: var(--dl-space-space-quadruple);
  }
}
@media(max-width: 767px) {
  .features-page-navbar-interactive {
    padding-left: 32px;
    padding-right: 32px;
  }
  .features-page-desktop-menu {
    display: none;
  }
  .features-page-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .features-page-icon {
    fill: #D9D9D9;
    width: var(--dl-size-size-doubleunit);
    height: var(--dl-size-size-doubleunit);
  }
  .features-page-home {
    margin-bottom: var(--dl-space-space-unit);
  }
  .features-page-features {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .features-page-preview {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .features-page-login1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .features-page-get-started {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .features-page-features1 {
    padding-left: 32px;
    padding-right: 32px;
  }
  .features-page-container1 {
    grid-template-columns: 1fr;
  }
  .features-page-mobile-footer {
    display: none;
  }
  .features-page-links-container {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .features-page-text15 {
    font-size: 12px;
  }
  .features-page-desktop-footer {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .features-page-menu {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .features-page-logo2 {
    display: none;
  }
  .features-page-links-container1 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .features-page-follow-container {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .features-page-top-container {
    width: 100%;
    height: 1306px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .features-page-navbar-interactive {
    height: 96px;
    padding: var(--dl-space-space-unit);
    background-color: #312f2f;
  }
  .features-page-icon {
    fill: #D9D9D9;
    width: var(--dl-size-size-doubleunit);
    height: var(--dl-size-size-doubleunit);
  }
  .features-page-mobile-menu {
    padding: 16px;
    background-color: var(--dl-color-gray-white);
  }
  .features-page-nav {
    height: 376px;
  }
  .features-page-top {
    margin-top: var(--dl-space-space-halfunit);
  }
  .features-page-logo1 {
    color: var(--dl-color-gray-white);
    text-decoration: none;
  }
  .features-page-text07 {
    color: #000000;
  }
  .features-page-text08 {
    color: var(--dl-color-primary-100);
  }
  .features-page-links1 {
    width: 100%;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
  }
  .features-page-home {
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    align-self: center;
    font-style: normal;
    text-align: center;
    font-weight: 600;
  }
  .features-page-features {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
  }
  .features-page-preview {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
  }
  .features-page-login1 {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
  }
  .features-page-get-started {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 600;
  }
  .features-page-features1 {
    width: 100%;
    height: 913px;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .features-page-text09 {
    color: var(--dl-color-gray-white);
    width: 359px;
    height: 222px;
    font-size: 2.3rem;
    align-self: center;
    text-align: center;
  }
  .features-page-text10 {
    width: 100%;
    height: 132px;
    font-size: 3rem;
  }
  .features-page-text11 {
    width: 100%;
    height: 132px;
    font-size: 3rem;
  }
  .features-page-text12 {
    font-size: 2.7rem;
  }
  .features-page-text13 {
    font-size: 2.7rem;
  }
  .features-page-text14 {
    font-size: 2.7rem;
  }
  .features-page-container1 {
    width: 100%;
    height: 100%;
    align-self: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .features-page-footer {
    height: 114px;
    margin-top: 0px;
  }
  .features-page-mobile-footer {
    height: 86px;
    display: flex;
    flex-direction: column;
  }
  .features-page-icons-container {
    gap: var(--dl-space-space-unit);
    width: auto;
    height: var(--dl-size-size-doubleunit);
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    justify-content: center;
  }
  .features-page-links-container {
    gap: var(--dl-space-space-quadruple);
    width: 100%;
    height: 100%;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .features-page-text15 {
    font-size: 15px;
    text-align: left;
    margin-left: var(--dl-space-space-unit);
  }
  .features-page-text16 {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
  }
  .features-page-desktop-footer {
    display: none;
  }
  .features-page-links-container1 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .features-page-follow-container {
    margin-left: 0px;
  }
}
