.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgb(0, 0, 0) 4.00%,rgba(66, 57, 59, 0.97) 75.00%);
}
.home-top-container {
  width: 100%;
  height: 937px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  height: 101px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 100%;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.home-logo {
  color: var(--dl-color-gray-white);
  font-size: 2.5em;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
}
.home-logo:hover {
  cursor: pointer;
  transform: scale(1.12);
}
.home-text01 {
  color: var(--dl-color-primary-100);
}
.home-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-home {
  color: #e13a3a;
  font-size: 1.3em;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-home:hover {
  cursor: pointer;
  transform: scale(1.15);
}
.home-features {
  color: var(--dl-color-gray-white);
  font-size: 1.3em;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  animation-name: none;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.home-features:hover {
  color: #e13a3a;
  cursor: pointer;
  transform: scale(1.15);
}
.home-preview {
  color: var(--dl-color-gray-white);
  font-size: 1.3em;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.home-preview:hover {
  color: #e13a3a;
  cursor: pointer;
  transform: scale(1.15);
}
.home-get-started {
  color: var(--dl-color-gray-white);
  width: 100%;
  align-self: center;
  margin-top: 0px;
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  margin-right: 1.5em;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 30px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.home-get-started:hover {
  color: var(--dl-color-gray-white);
  background-color: #eb4141;
}
.home-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-burger-menu1 {
  width: 24px;
  height: 24px;
}
.home-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon03 {
  width: 24px;
  height: 24px;
}
.home-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.home-text05 {
  margin-bottom: 8px;
}
.home-text06 {
  margin-bottom: 8px;
}
.home-text07 {
  margin-bottom: 8px;
}
.home-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home-text09 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-link {
  display: contents;
}
.home-icon05 {
  width: 24px;
  height: 24px;
}
.home-link1 {
  display: contents;
}
.home-icon07 {
  width: 24px;
  height: 24px;
}
.home-link2 {
  display: contents;
}
.home-icon09 {
  width: 24px;
  height: 24px;
}
.home-hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  animation-name: fadeIn;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  animation-delay: 0s;
  justify-content: center;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
.home-banner {
  width: 100%;
  height: 577px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text10 {
  color: var(--dl-color-gray-white);
  height: 266px;
  font-size: 6rem;
  text-align: center;
  transition: 0.3s;
}
.home-text10:hover {
  cursor: default;
}
.home-text11 {
  color: var(--dl-color-primary-100);
}
.home-text14 {
  color: var(--dl-color-primary-100);
}
.home-text18 {
  color: var(--dl-color-gray-white);
  font-size: 1.21em;
  max-width: 1400px;
  margin-top: var(--dl-space-space-doubleunit);
  text-align: center;
  transition: 0.3s;
  line-height: 1.7;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-text18:hover {
  cursor: default;
}
.home-get-started1 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-doubleunit);
  transition: 0.3s;
  margin-left: 0px;
  padding-top: 1.2em;
  padding-left: var(--dl-space-space-quadruple);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-quadruple);
  padding-bottom: 1.2em;
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.home-get-started1:hover {
  transform: scale(1.02);
}
.home-text19 {
  font-size: 20px;
}
.home-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 6rem;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.home-mobile-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: flex-start;
}
.home-icons-container1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link3 {
  display: contents;
}
.home-icon11 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.home-link4 {
  display: contents;
}
.home-icon13 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.home-link5 {
  display: contents;
}
.home-icon15 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.home-links-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-desktop-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.home-menu {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-links-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text26 {
  transition: 0.3s;
}
.home-text26:hover {
  cursor: default;
}
.home-follow-container1 {
  display: flex;
  align-items: center;
  margin-left: 4.5em;
  margin-right: 4.5em;
  flex-direction: column;
  justify-content: space-between;
}
.home-text27 {
  transition: 0.3s;
  padding-bottom: var(--dl-space-space-halfunit);
}
.home-text27:hover {
  cursor: default;
}
.home-icons-container2 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-link6 {
  display: contents;
}
.home-icon17 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.home-icon17:hover {
  transform: scale(1.15);
}
.home-link7 {
  display: contents;
}
.home-icon19 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.home-icon19:hover {
  transform: scale(1.15);
}
.home-link8 {
  display: contents;
}
.home-icon21 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.home-icon21:hover {
  transform: scale(1.15);
}
@media(max-width: 1600px) {
  .home-container {
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0.00%,rgba(66, 57, 59, 0.97) 75.00%);
  }
  .home-top-container {
    height: 692px;
    background-color: transparent;
  }
  .home-logo {
    font-size: 1.55em;
  }
  .home-home {
    color: #e13a3a;
  }
  .home-features {
    animation-name: none;
    animation-duration: 200ms;
  }
  .home-hero {
    width: 839px;
    height: 541px;
    animation-name: fadeIn;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
  }
  .home-banner {
    width: 787px;
    height: 481px;
  }
  .home-text10 {
    width: 781px;
    height: 194px;
    font-size: 5.3rem;
    line-height: 1.3;
  }
  .home-text18 {
    color: var(--dl-color-gray-white);
    font-size: 1rem;
    margin-top: var(--dl-space-space-tripleunit);
    line-height: 1.7;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-get-started1 {
    margin-top: 0px;
    padding-top: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-tripleunit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-footer {
    height: 76px;
  }
  .home-desktop-footer {
    height: 100%;
  }
  .home-links-container3 {
    margin-left: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 1200px) {
  .home-get-started {
    border-radius: 10px;
  }
  .home-hero {
    height: 650px;
  }
  .home-get-started1 {
    border-radius: 10px;
  }
  .home-mobile-footer {
    display: none;
  }
  .home-desktop-footer {
    height: 100%;
  }
  .home-menu {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
  .home-follow-container1 {
    margin-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 991px) {
  .home-top-container {
    height: 1000px;
  }
  .home-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-follow-container1 {
    margin-left: 3.2em;
    margin-right: var(--dl-space-space-quadruple);
  }
}
@media(max-width: 767px) {
  .home-top-container {
    height: 911px;
  }
  .home-right-side {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
  .home-hero {
    width: 691px;
    height: 100%;
    justify-content: center;
  }
  .home-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-text10 {
    width: 629px;
  }
  .home-text18 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text21 {
    color: #d8b9b9;
  }
  .home-text22 {
    color: #d8b9b9;
  }
  .home-mobile-footer {
    display: none;
  }
  .home-links-container2 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .home-text23 {
    font-size: 12px;
  }
  .home-desktop-footer {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .home-menu {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .home-links-container3 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .home-follow-container1 {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .home-top-container {
    height: 739px;
  }
  .home-navbar {
    height: 100%;
    padding: 0px;
    margin-top: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
  }
  .home-logo {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 3em;
    margin-top: 0px;
    text-align: center;
    margin-left: 0px;
  }
  .home-text01 {
    color: var(--dl-color-primary-100);
  }
  .home-get-started {
    color: var(--dl-color-gray-white);
    width: 236px;
    height: 4em;
    font-size: 1em;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-doubleunit);
    border-radius: 10px;
    padding-right: var(--dl-space-space-doubleunit);
    animation-name: fadeInUp;
    animation-delay: 0s;
    text-decoration: none;
    background-color: var(--dl-color-primary-100);
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .home-burger-menu1 {
    display: none;
  }
  .home-hero {
    flex: 1;
    width: 100%;
    height: 637px;
    padding: var(--dl-space-space-doubleunit);
    align-items: flex-start;
  }
  .home-banner {
    width: auto;
    height: 675px;
    padding: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .home-text10 {
    color: var(--dl-color-gray-white);
    width: 375px;
    height: 98px;
    font-size: 2.3em;
    margin-top: 0px;
    line-height: 1.6;
  }
  .home-text11 {
    color: var(--dl-color-primary-100);
    height: 311px;
    margin-top: var(--dl-space-space-halfunit);
    line-height: 1.6;
  }
  .home-text12 {
    height: 311px;
    margin-top: var(--dl-space-space-halfunit);
    line-height: 1.6;
  }
  .home-text14 {
    color: var(--dl-color-primary-100);
  }
  .home-text15 {
    color: var(--dl-color-primary-100);
  }
  .home-text18 {
    color: var(--dl-color-gray-900);
    width: 100%;
    font-size: 0.78em;
    align-self: center;
    margin-top: 2.5em;
    text-align: justify;
    line-height: 3.5;
    padding-left: var(--dl-space-space-doubleunit);
    margin-bottom: 2.5em;
    padding-right: var(--dl-space-space-doubleunit);
    text-transform: capitalize;
  }
  .home-get-started1 {
    color: var(--dl-color-gray-white);
    width: 236px;
    height: 4em;
    font-size: 1em;
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-doubleunit);
    border-radius: 10px;
    padding-right: var(--dl-space-space-doubleunit);
    animation-name: fadeInUp;
    animation-delay: 0s;
    text-decoration: none;
    background-color: var(--dl-color-primary-100);
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .home-text19 {
    font-size: 1rem;
  }
  .home-text22 {
    color: #c8c0c0;
  }
  .home-footer {
    height: 114px;
  }
  .home-mobile-footer {
    height: 90px;
    display: flex;
    flex-direction: column;
  }
  .home-icons-container1 {
    gap: var(--dl-space-space-unit);
    width: auto;
    height: var(--dl-size-size-doubleunit);
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    justify-content: center;
  }
  .home-links-container2 {
    gap: var(--dl-space-space-quadruple);
    width: 100%;
    height: 100%;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .home-text23 {
    font-size: 15px;
    text-align: left;
    margin-left: var(--dl-space-space-unit);
  }
  .home-text24 {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
  }
  .home-desktop-footer {
    display: none;
  }
  .home-links-container3 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .home-follow-container1 {
    margin-left: 0px;
  }
}
