.landing-page-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.landing-page-top-container {
  width: 100%;
  height: 685px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #312f2f;
}
.landing-page-navbar {
  width: 1025px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-navlink {
  display: contents;
}
.landing-page-logo {
  color: var(--dl-color-gray-white);
  text-decoration: none;
}
.landing-page-text01 {
  color: var(--dl-color-primary-100);
}
.landing-page-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-home {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.landing-page-home:hover {
  cursor: pointer;
}
.landing-page-features {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  animation-name: none;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.landing-page-features:hover {
  cursor: pointer;
}
.landing-page-preview {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.landing-page-preview:hover {
  cursor: pointer;
}
.landing-page-contact {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.landing-page-contact:hover {
  cursor: pointer;
}
.landing-page-navlink1 {
  display: contents;
}
.landing-page-component {
  text-decoration: none;
}
.landing-page-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-burger-menu1 {
  width: 24px;
  height: 24px;
}
.landing-page-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.landing-page-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-icon03 {
  width: 24px;
  height: 24px;
}
.landing-page-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text02 {
  margin-bottom: 8px;
}
.landing-page-text03 {
  margin-bottom: 8px;
}
.landing-page-text04 {
  margin-bottom: 8px;
}
.landing-page-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text06 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.landing-page-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-link {
  display: contents;
}
.landing-page-icon05 {
  width: 24px;
  height: 24px;
}
.landing-page-link1 {
  display: contents;
}
.landing-page-icon07 {
  width: 24px;
  height: 24px;
}
.landing-page-link2 {
  display: contents;
}
.landing-page-icon09 {
  width: 24px;
  height: 24px;
}
.landing-page-hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.landing-page-banner {
  width: 100%;
  height: 453px;
  display: flex;
  padding: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text07 {
  color: var(--dl-color-gray-white);
  height: 192px;
  font-size: 3.5rem;
  text-align: center;
}
.landing-page-text11 {
  color: var(--dl-color-gray-white);
  font-size: 1.2em;
  max-width: 1400px;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 32px;
}
.landing-page-learn-more {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.landing-page-learn-more:hover {
  transform: scale(1.02);
}
.landing-page-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 6rem;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.landing-page-mobile-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: flex-start;
}
.landing-page-icons-container1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.landing-page-link3 {
  display: contents;
}
.landing-page-icon11 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.landing-page-link4 {
  display: contents;
}
.landing-page-icon13 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.landing-page-link5 {
  display: contents;
}
.landing-page-icon15 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.landing-page-links-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-desktop-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
}
.landing-page-menu {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-logo2 {
  margin-left: var(--dl-space-space-tripleunit);
}
.landing-page-links-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-follow-container1 {
  display: flex;
  align-items: center;
  margin-left: 4.5em;
  margin-right: 4.5em;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text20 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.landing-page-icons-container2 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-link6 {
  display: contents;
}
.landing-page-icon17 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.landing-page-link7 {
  display: contents;
}
.landing-page-icon19 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.landing-page-link8 {
  display: contents;
}
.landing-page-icon21 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
@media(max-width: 1200px) {
  .landing-page-hero {
    height: 650px;
  }
  .landing-page-learn-more {
    border-radius: 10px;
  }
  .landing-page-mobile-footer {
    display: none;
  }
  .landing-page-menu {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
  .landing-page-logo2 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .landing-page-follow-container1 {
    margin-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 991px) {
  .landing-page-top-container {
    height: 1000px;
  }
  .landing-page-navbar {
    width: 100%;
  }
  .landing-page-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .landing-page-logo2 {
    margin-left: 2.5em;
    margin-right: 0px;
  }
  .landing-page-follow-container1 {
    margin-left: 3.2em;
    margin-right: var(--dl-space-space-quadruple);
  }
}
@media(max-width: 767px) {
  .landing-page-top-container {
    height: 911px;
  }
  .landing-page-right-side {
    display: none;
  }
  .landing-page-burger-menu {
    display: flex;
  }
  .landing-page-hero {
    height: 100%;
    justify-content: center;
  }
  .landing-page-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .landing-page-text11 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-mobile-footer {
    display: none;
  }
  .landing-page-links-container2 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .landing-page-text16 {
    font-size: 12px;
  }
  .landing-page-desktop-footer {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .landing-page-menu {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .landing-page-logo2 {
    display: none;
  }
  .landing-page-links-container3 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .landing-page-follow-container1 {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .landing-page-top-container {
    height: 774px;
  }
  .landing-page-hero {
    height: 638px;
    padding: var(--dl-space-space-doubleunit);
  }
  .landing-page-banner {
    height: 547px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .landing-page-text07 {
    height: 287px;
    font-size: 3rem;
    line-height: 1.4;
  }
  .landing-page-text11 {
    color: var(--dl-color-gray-white);
    width: 16em;
    font-size: 1.1em;
    margin-top: var(--dl-space-space-halfunit);
    text-align: center;
    line-height: 1.6;
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .landing-page-text12 {
    font-size: 1em;
  }
  .landing-page-text15 {
    font-size: 0.9em;
  }
  .landing-page-learn-more {
    width: 10em;
    height: auto;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-doubleunit);
    border-radius: 10px;
    padding-right: var(--dl-space-space-doubleunit);
  }
  .landing-page-footer {
    height: 114px;
  }
  .landing-page-mobile-footer {
    height: 90px;
    display: flex;
    flex-direction: column;
  }
  .landing-page-icons-container1 {
    gap: var(--dl-space-space-unit);
    width: auto;
    height: var(--dl-size-size-doubleunit);
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    justify-content: center;
  }
  .landing-page-links-container2 {
    gap: var(--dl-space-space-quadruple);
    width: 100%;
    height: 100%;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .landing-page-text16 {
    font-size: 15px;
    text-align: left;
    margin-left: var(--dl-space-space-unit);
  }
  .landing-page-text17 {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
  }
  .landing-page-desktop-footer {
    display: none;
  }
  .landing-page-links-container3 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .landing-page-follow-container1 {
    margin-left: 0px;
  }
}
