.landing-page-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgb(0, 0, 0) 4.00%,rgba(66, 57, 59, 0.97) 75.00%);
}
.landing-page-top-container {
  width: 100%;
  height: 937px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.landing-page-navbar {
  width: 100%;
  height: 101px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 100%;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-navlink {
  display: contents;
}
.landing-page-logo {
  color: var(--dl-color-gray-white);
  font-size: 2.5em;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.landing-page-text01 {
  color: var(--dl-color-primary-100);
}
.landing-page-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-home {
  color: var(--dl-color-gray-white);
  font-size: 1.3em;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.landing-page-home:hover {
  color: var(--dl-color-primary-100);
  cursor: pointer;
}
.landing-page-features {
  color: var(--dl-color-gray-white);
  font-size: 1.3em;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  animation-name: none;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.landing-page-features:hover {
  color: var(--dl-color-primary-100);
  cursor: pointer;
}
.landing-page-preview {
  color: var(--dl-color-gray-white);
  font-size: 1.3em;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.landing-page-preview:hover {
  color: var(--dl-color-primary-100);
  cursor: pointer;
}
.landing-page-contact {
  color: var(--dl-color-gray-white);
  font-size: 1.3em;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.landing-page-contact:hover {
  color: var(--dl-color-primary-100);
  cursor: pointer;
}
.landing-page-get-started {
  color: var(--dl-color-gray-white);
  width: 100%;
  align-self: center;
  margin-top: 0px;
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  margin-right: 1.5em;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 30px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.landing-page-get-started:hover {
  color: var(--dl-color-gray-white);
  background-color: #eb4141;
}
.landing-page-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-burger-menu1 {
  width: 24px;
  height: 24px;
}
.landing-page-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.landing-page-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-icon03 {
  width: 24px;
  height: 24px;
}
.landing-page-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text05 {
  margin-bottom: 8px;
}
.landing-page-text06 {
  margin-bottom: 8px;
}
.landing-page-text07 {
  margin-bottom: 8px;
}
.landing-page-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text09 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.landing-page-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-link {
  display: contents;
}
.landing-page-icon05 {
  width: 24px;
  height: 24px;
}
.landing-page-link1 {
  display: contents;
}
.landing-page-icon07 {
  width: 24px;
  height: 24px;
}
.landing-page-link2 {
  display: contents;
}
.landing-page-icon09 {
  width: 24px;
  height: 24px;
}
.landing-page-hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.landing-page-banner {
  width: 100%;
  height: 577px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.landing-page-text10 {
  color: var(--dl-color-gray-white);
  height: 266px;
  font-size: 5rem;
  text-align: center;
}
.landing-page-text11 {
  color: var(--dl-color-primary-100);
}
.landing-page-text14 {
  color: var(--dl-color-primary-100);
}
.landing-page-text18 {
  color: var(--dl-color-gray-white);
  font-size: 1.2em;
  max-width: 1400px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  line-height: 1.7;
  margin-bottom: var(--dl-space-space-unit);
}
.landing-page-get-started1 {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-doubleunit);
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.landing-page-get-started1:hover {
  transform: scale(1.02);
}
.landing-page-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 6rem;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.landing-page-mobile-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: flex-start;
}
.landing-page-icons-container1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.landing-page-link3 {
  display: contents;
}
.landing-page-icon11 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.landing-page-link4 {
  display: contents;
}
.landing-page-icon13 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.landing-page-link5 {
  display: contents;
}
.landing-page-icon15 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.landing-page-links-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-desktop-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.landing-page-menu {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-logo2 {
  margin-left: var(--dl-space-space-tripleunit);
}
.landing-page-text27 {
  color: var(--dl-color-primary-100);
}
.landing-page-links-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-follow-container1 {
  display: flex;
  align-items: center;
  margin-left: 4.5em;
  margin-right: 4.5em;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text29 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.landing-page-icons-container2 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-link6 {
  display: contents;
}
.landing-page-icon17 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.landing-page-link7 {
  display: contents;
}
.landing-page-icon19 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.landing-page-link8 {
  display: contents;
}
.landing-page-icon21 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
@media(max-width: 1600px) {
  .landing-page-container {
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0.00%,rgba(66, 57, 59, 0.97) 75.00%);
  }
  .landing-page-top-container {
    height: 749px;
    background-color: transparent;
  }
  .landing-page-desktop-footer {
    height: 100%;
  }
}
@media(max-width: 1200px) {
  .landing-page-get-started {
    border-radius: 10px;
  }
  .landing-page-hero {
    height: 650px;
  }
  .landing-page-get-started1 {
    border-radius: 10px;
  }
  .landing-page-mobile-footer {
    display: none;
  }
  .landing-page-desktop-footer {
    height: 100%;
  }
  .landing-page-menu {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
  .landing-page-logo2 {
    margin-left: var(--dl-space-space-tripleunit);
  }
  .landing-page-follow-container1 {
    margin-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 991px) {
  .landing-page-top-container {
    height: 1000px;
  }
  .landing-page-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .landing-page-logo2 {
    margin-left: 2.5em;
    margin-right: 0px;
  }
  .landing-page-follow-container1 {
    margin-left: 3.2em;
    margin-right: var(--dl-space-space-quadruple);
  }
}
@media(max-width: 767px) {
  .landing-page-top-container {
    height: 911px;
  }
  .landing-page-right-side {
    display: none;
  }
  .landing-page-burger-menu {
    display: flex;
  }
  .landing-page-hero {
    width: 691px;
    height: 100%;
    justify-content: center;
  }
  .landing-page-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .landing-page-text10 {
    width: 629px;
  }
  .landing-page-text18 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .landing-page-text21 {
    color: #d8b9b9;
  }
  .landing-page-text22 {
    color: #d8b9b9;
  }
  .landing-page-mobile-footer {
    display: none;
  }
  .landing-page-links-container2 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .landing-page-text23 {
    font-size: 12px;
  }
  .landing-page-desktop-footer {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .landing-page-menu {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .landing-page-logo2 {
    display: none;
  }
  .landing-page-links-container3 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .landing-page-follow-container1 {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .landing-page-top-container {
    height: 739px;
  }
  .landing-page-navbar {
    height: 100%;
    padding: 0px;
    margin-top: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
  }
  .landing-page-logo {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 3em;
    margin-top: 0px;
    text-align: center;
    margin-left: 0px;
  }
  .landing-page-text01 {
    color: var(--dl-color-primary-100);
  }
  .landing-page-get-started {
    color: var(--dl-color-gray-white);
    width: 236px;
    height: 4em;
    font-size: 1em;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-doubleunit);
    border-radius: 10px;
    padding-right: var(--dl-space-space-doubleunit);
    animation-name: fadeInUp;
    animation-delay: 0s;
    text-decoration: none;
    background-color: var(--dl-color-primary-100);
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .landing-page-burger-menu1 {
    display: none;
  }
  .landing-page-hero {
    flex: 1;
    width: 100%;
    height: 637px;
    padding: var(--dl-space-space-doubleunit);
    align-items: flex-start;
  }
  .landing-page-banner {
    height: 675px;
    padding: var(--dl-space-space-halfunit);
    justify-content: flex-start;
  }
  .landing-page-text10 {
    color: var(--dl-color-gray-white);
    width: 375px;
    height: 98px;
    font-size: 2rem;
    margin-top: 0px;
    line-height: 1.6;
  }
  .landing-page-text11 {
    color: var(--dl-color-primary-100);
    height: 311px;
    margin-top: var(--dl-space-space-halfunit);
    line-height: 1.6;
  }
  .landing-page-text12 {
    height: 311px;
    margin-top: var(--dl-space-space-halfunit);
    line-height: 1.6;
  }
  .landing-page-text14 {
    color: var(--dl-color-primary-100);
  }
  .landing-page-text15 {
    color: var(--dl-color-primary-100);
  }
  .landing-page-text18 {
    color: var(--dl-color-gray-900);
    width: 100%;
    font-size: 0.8em;
    align-self: center;
    margin-top: var(--dl-space-space-doubleunit);
    text-align: center;
    line-height: 3;
    margin-bottom: var(--dl-space-space-doubleunit);
    text-transform: capitalize;
  }
  .landing-page-get-started1 {
    color: var(--dl-color-gray-white);
    width: 236px;
    height: 4em;
    font-size: 1em;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-doubleunit);
    border-radius: 10px;
    padding-right: var(--dl-space-space-doubleunit);
    animation-name: fadeInUp;
    animation-delay: 0s;
    text-decoration: none;
    background-color: var(--dl-color-primary-100);
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .landing-page-text22 {
    color: #c8c0c0;
  }
  .landing-page-footer {
    height: 114px;
  }
  .landing-page-mobile-footer {
    height: 90px;
    display: flex;
    flex-direction: column;
  }
  .landing-page-icons-container1 {
    gap: var(--dl-space-space-unit);
    width: auto;
    height: var(--dl-size-size-doubleunit);
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    justify-content: center;
  }
  .landing-page-links-container2 {
    gap: var(--dl-space-space-quadruple);
    width: 100%;
    height: 100%;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .landing-page-text23 {
    font-size: 15px;
    text-align: left;
    margin-left: var(--dl-space-space-unit);
  }
  .landing-page-text24 {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
  }
  .landing-page-desktop-footer {
    display: none;
  }
  .landing-page-links-container3 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .landing-page-follow-container1 {
    margin-left: 0px;
  }
}
