.preview-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgb(0, 0, 0) 4.00%,rgba(66, 57, 59, 0.97) 89.00%);
}
.preview-top-container {
  width: 100%;
  height: 1098px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.preview-navbar {
  width: 100%;
  height: 101px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 100%;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.preview-navlink {
  display: contents;
}
.preview-logo {
  color: var(--dl-color-gray-white);
  font-size: 2.5em;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.preview-logo:hover {
  transform: scale(1.12);
}
.preview-text01 {
  color: var(--dl-color-primary-100);
}
.preview-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.preview-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.preview-home {
  color: var(--dl-color-gray-white);
  font-size: 1.3em;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.preview-home:hover {
  color: #e13a3a;
  transform: scale(1.15);
}
.preview-features {
  color: var(--dl-color-gray-white);
  font-size: 1.3em;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  animation-name: none;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.preview-features:hover {
  color: #e13a3a;
  cursor: pointer;
  transform: scale(1.15);
}
.preview-preview {
  color: #e13a3a;
  font-size: 1.3em;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.preview-preview:hover {
  color: #e13a3a;
  cursor: pointer;
  transform: scale(1.15);
}
.preview-get-started {
  color: var(--dl-color-gray-white);
  width: 100%;
  align-self: center;
  margin-top: 0px;
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  margin-right: 1.5em;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 30px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.preview-get-started:hover {
  color: var(--dl-color-gray-white);
  background-color: #eb4141;
}
.preview-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.preview-burger-menu1 {
  width: 24px;
  height: 24px;
}
.preview-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.preview-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.preview-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.preview-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.preview-icon03 {
  width: 24px;
  height: 24px;
}
.preview-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.preview-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.preview-text05 {
  margin-bottom: 8px;
}
.preview-text06 {
  margin-bottom: 8px;
}
.preview-text07 {
  margin-bottom: 8px;
}
.preview-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.preview-text09 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.preview-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.preview-link {
  display: contents;
}
.preview-icon05 {
  width: 24px;
  height: 24px;
}
.preview-link1 {
  display: contents;
}
.preview-icon07 {
  width: 24px;
  height: 24px;
}
.preview-link2 {
  display: contents;
}
.preview-icon09 {
  width: 24px;
  height: 24px;
}
.preview-container1 {
  gap: var(--dl-space-space-doubleunit);
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: column;
  animation-delay: 0s;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
.preview-workout {
  gap: var(--dl-space-space-doubleunit);
  width: 1000px;
  height: 444px;
  display: flex;
  align-items: flex-start;
}
.preview-arm-workouts {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.preview-arm-workouts:hover {
  transform: scale(1.02);
}
.preview-image {
  width: 100%;
  height: 185px;
  object-fit: cover;
}
.preview-container2 {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.preview-text10 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 32px;
}
.preview-text11 {
  color: var(--dl-color-gray-900);
  font-weight: 400;
  margin-bottom: 32px;
}
.preview-core-workouts {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.preview-core-workouts:hover {
  transform: scale(1.02);
}
.preview-image1 {
  width: 100%;
  height: 185px;
  object-fit: cover;
}
.preview-container3 {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.preview-text12 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 32px;
}
.preview-text13 {
  color: var(--dl-color-gray-900);
  font-weight: 400;
  margin-bottom: 32px;
}
.preview-leg-workouts {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.preview-leg-workouts:hover {
  transform: scale(1.02);
}
.preview-image2 {
  width: 100%;
  height: 185px;
  object-fit: cover;
}
.preview-container4 {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.preview-text14 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 32px;
}
.preview-text15 {
  color: var(--dl-color-gray-900);
  font-weight: 400;
  margin-bottom: 32px;
}
.preview-diet {
  gap: var(--dl-space-space-doubleunit);
  width: 1000px;
  height: 444px;
  display: flex;
  align-items: flex-start;
}
.preview-pescatarian {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: center;
}
.preview-pescatarian:hover {
  transform: scale(1.02);
}
.preview-image3 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.preview-container5 {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.preview-text16 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 32px;
}
.preview-text17 {
  color: var(--dl-color-gray-900);
  font-weight: 400;
  margin-bottom: 32px;
}
.preview-mediteranean {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.preview-mediteranean:hover {
  transform: scale(1.02);
}
.preview-image4 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.preview-container6 {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.preview-text18 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 32px;
}
.preview-text19 {
  color: var(--dl-color-gray-900);
  font-weight: 400;
  margin-bottom: 32px;
}
.preview-vegetarian {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.preview-vegetarian:hover {
  transform: scale(1.02);
}
.preview-image5 {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.preview-container7 {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.preview-text20 {
  color: var(--dl-color-gray-white);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 32px;
}
.preview-text21 {
  color: var(--dl-color-gray-900);
  font-weight: 400;
  margin-bottom: 32px;
}
.preview-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 6rem;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.preview-mobile-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: flex-start;
}
.preview-icons-container1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.preview-link3 {
  display: contents;
}
.preview-icon11 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.preview-link4 {
  display: contents;
}
.preview-icon13 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.preview-link5 {
  display: contents;
}
.preview-icon15 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.preview-links-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.preview-desktop-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.preview-menu {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.preview-links-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.preview-text25 {
  transition: 0.3s;
}
.preview-text25:hover {
  cursor: default;
}
.preview-follow-container1 {
  display: flex;
  align-items: center;
  margin-left: 4.5em;
  margin-right: 4.5em;
  flex-direction: column;
  justify-content: space-between;
}
.preview-text26 {
  transition: 0.3s;
  padding-bottom: var(--dl-space-space-halfunit);
}
.preview-text26:hover {
  cursor: default;
}
.preview-icons-container2 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.preview-link6 {
  display: contents;
}
.preview-icon17 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.preview-icon17:hover {
  transform: scale(1.15);
}
.preview-link7 {
  display: contents;
}
.preview-icon19 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.preview-icon19:hover {
  transform: scale(1.15);
}
.preview-link8 {
  display: contents;
}
.preview-icon21 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.preview-icon21:hover {
  transform: scale(1.15);
}
@media(max-width: 1600px) {
  .preview-container {
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0.00%,rgba(38, 35, 36, 0.97) 44.00%);
  }
  .preview-top-container {
    background-color: transparent;
  }
  .preview-navbar {
    margin: 0px;
  }
  .preview-logo {
    font-size: 1.55em;
  }
  .preview-home {
    color: var(--dl-color-gray-white);
  }
  .preview-features {
    color: var(--dl-color-gray-white);
  }
  .preview-preview {
    color: #e13a3a;
  }
  .preview-container1 {
    height: 962px;
    margin-top: 1.5em;
    animation-name: fadeIn;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
  }
  .preview-workout {
    margin-top: 0px;
  }
  .preview-arm-workouts {
    box-shadow: 0px 5px 10px 3px rgba(192, 171, 171, 0.1);
  }
  .preview-core-workouts {
    box-shadow: 0px 5px 10px 3px rgba(192, 171, 171, 0.1);
  }
  .preview-text12 {
    color: var(--dl-color-gray-white);
  }
  .preview-text13 {
    color: var(--dl-color-gray-900);
    align-self: flex-start;
    text-align: left;
    font-weight: 400;
  }
  .preview-leg-workouts {
    box-shadow: 0px 5px 10px 3px rgba(192, 171, 171, 0.1);
  }
  .preview-pescatarian {
    box-shadow: 0px 5px 10px 3px rgba(192, 171, 171, 0.1);
  }
  .preview-mediteranean {
    box-shadow: 0px 5px 10px 3px rgba(192, 171, 171, 0.1);
  }
  .preview-vegetarian {
    box-shadow: 0px 5px 10px 3px rgba(192, 171, 171, 0.1);
  }
  .preview-footer {
    height: 76px;
  }
  .preview-desktop-footer {
    height: 100%;
  }
  .preview-links-container3 {
    margin-left: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 1200px) {
  .preview-get-started {
    border-radius: 10px;
  }
  .preview-mobile-footer {
    display: none;
  }
  .preview-desktop-footer {
    height: 100%;
  }
  .preview-menu {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
  .preview-follow-container1 {
    margin-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 991px) {
  .preview-image {
    height: 350px;
  }
  .preview-image1 {
    height: 350px;
  }
  .preview-image2 {
    height: 350px;
  }
  .preview-image3 {
    height: 350px;
  }
  .preview-image4 {
    height: 350px;
  }
  .preview-image5 {
    height: 350px;
  }
  .preview-follow-container1 {
    margin-left: 3.2em;
    margin-right: var(--dl-space-space-quadruple);
  }
}
@media(max-width: 767px) {
  .preview-right-side {
    display: none;
  }
  .preview-burger-menu {
    display: flex;
  }
  .preview-mobile-footer {
    display: none;
  }
  .preview-links-container2 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .preview-text22 {
    font-size: 12px;
  }
  .preview-desktop-footer {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .preview-menu {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .preview-links-container3 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .preview-follow-container1 {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .preview-navbar {
    height: 100%;
    padding: 0px;
    margin-top: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
  }
  .preview-logo {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 3em;
    margin-top: 0px;
    text-align: center;
    margin-left: 0px;
  }
  .preview-text01 {
    color: var(--dl-color-primary-100);
  }
  .preview-get-started {
    color: var(--dl-color-gray-white);
    width: 236px;
    height: 4em;
    font-size: 1em;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-doubleunit);
    border-radius: 10px;
    padding-right: var(--dl-space-space-doubleunit);
    animation-name: fadeInUp;
    animation-delay: 0s;
    text-decoration: none;
    background-color: var(--dl-color-primary-100);
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .preview-burger-menu1 {
    display: none;
  }
  .preview-footer {
    height: 114px;
  }
  .preview-mobile-footer {
    height: 90px;
    display: flex;
    flex-direction: column;
  }
  .preview-icons-container1 {
    gap: var(--dl-space-space-unit);
    width: auto;
    height: var(--dl-size-size-doubleunit);
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    justify-content: center;
  }
  .preview-links-container2 {
    gap: var(--dl-space-space-quadruple);
    width: 100%;
    height: 100%;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .preview-text22 {
    font-size: 15px;
    text-align: left;
    margin-left: var(--dl-space-space-unit);
  }
  .preview-text23 {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
  }
  .preview-desktop-footer {
    display: none;
  }
  .preview-links-container3 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .preview-follow-container1 {
    margin-left: 0px;
  }
}
