.sign-up-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(180deg, rgb(0, 0, 0) 4.00%,rgba(66, 57, 59, 0.97) 46.00%);
}
.sign-up-top-container {
  width: 100%;
  height: 737px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.sign-up-navbar {
  width: 100%;
  height: 101px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 100%;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.sign-up-navlink {
  display: contents;
}
.sign-up-logo {
  color: var(--dl-color-gray-white);
  font-size: 2.5em;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.sign-up-logo:hover {
  transform: scale(1.12);
}
.sign-up-text01 {
  color: var(--dl-color-primary-100);
}
.sign-up-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-up-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-up-home {
  color: var(--dl-color-gray-white);
  font-size: 1.3em;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.sign-up-home:hover {
  color: #e13a3a;
  transform: scale(1.15);
}
.sign-up-features {
  color: var(--dl-color-gray-white);
  font-size: 1.3em;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  animation-name: none;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.sign-up-features:hover {
  color: #e13a3a;
  cursor: pointer;
  transform: scale(1.15);
}
.sign-up-preview {
  color: var(--dl-color-gray-white);
  font-size: 1.3em;
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.sign-up-preview:hover {
  color: #e13a3a;
  cursor: pointer;
  transform: scale(1.15);
}
.sign-up-get-started {
  color: var(--dl-color-gray-white);
  width: 100%;
  align-self: center;
  margin-top: 0px;
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  margin-right: 1.5em;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 30px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.sign-up-get-started:hover {
  color: var(--dl-color-gray-white);
  background-color: #eb4141;
}
.sign-up-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-up-burger-menu1 {
  width: 24px;
  height: 24px;
}
.sign-up-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.sign-up-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.sign-up-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.sign-up-icon03 {
  width: 24px;
  height: 24px;
}
.sign-up-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.sign-up-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.sign-up-text05 {
  margin-bottom: 8px;
}
.sign-up-text06 {
  margin-bottom: 8px;
}
.sign-up-text07 {
  margin-bottom: 8px;
}
.sign-up-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.sign-up-text09 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-up-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.sign-up-link {
  display: contents;
}
.sign-up-icon05 {
  width: 24px;
  height: 24px;
}
.sign-up-link1 {
  display: contents;
}
.sign-up-icon07 {
  width: 24px;
  height: 24px;
}
.sign-up-link2 {
  display: contents;
}
.sign-up-icon09 {
  width: 24px;
  height: 24px;
}
.sign-up-container1 {
  width: 1296px;
  height: 513px;
  display: flex;
  align-items: flex-end;
  animation-name: fadeIn;
  flex-direction: column;
  animation-delay: 0s;
  justify-content: flex-start;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
}
.sign-up-component-spacer {
  gap: 0;
  width: 100%;
  height: 521px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-color: var(--dl-color-primary-100);
  border-style: ridge;
  border-width: 10px;
  border-radius: 20px;
  justify-content: center;
}
.sign-up-image {
  width: 672px;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}
.sign-up-form {
  width: 200px;
  height: 100px;
  display: flex;
}
.sign-up-form1 {
  gap: var(--dl-space-space-doubleunit);
  flex: 0 0 auto;
  width: 608px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-tripleunit);
}
.sign-up-heading {
  color: var(--dl-color-gray-white);
  width: 100%;
  font-size: 2.7rem;
  align-self: flex-start;
  margin-top: 0px;
  text-align: center;
}
.sign-up-username {
  width: 100%;
  height: 4rem;
  border-color: var(--dl-color-gray-500);
  border-style: outset;
  border-width: 3px;
  border-radius: 10px;
}
.sign-up-password {
  width: 100%;
  height: 4rem;
  border-color: var(--dl-color-gray-500);
  border-style: outset;
  border-width: 3px;
  border-radius: 10px;
}
.sign-up-dropdowns {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.sign-up-age {
  width: 100%;
  height: var(--dl-size-size-tripleunit);
  transition: 0.3s;
  border-color: var(--dl-color-gray-500);
  border-style: outset;
  border-width: 3px;
  border-radius: 10px;
}
.sign-up-age:hover {
  cursor: pointer;
}
.sign-up-gender {
  width: 100%;
  height: var(--dl-size-size-tripleunit);
  transition: 0.3s;
  border-color: var(--dl-color-gray-500);
  border-style: outset;
  border-width: 3px;
  border-radius: 10px;
}
.sign-up-gender:hover {
  cursor: pointer;
}
.sign-up-get-started1 {
  color: var(--dl-color-gray-white);
  width: 80%;
  align-self: center;
  margin-top: 0px;
  transition: 0.3s;
  margin-left: 0px;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  border-radius: 12px;
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-primary-100);
}
.sign-up-get-started1:hover {
  color: var(--dl-color-gray-white);
  background-color: #eb4141;
}
.sign-up-text12 {
  width: 100%;
  text-align: center;
}
.sign-up-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 6rem;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.sign-up-mobile-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: none;
  align-items: flex-start;
}
.sign-up-icons-container1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.sign-up-link3 {
  display: contents;
}
.sign-up-icon11 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.sign-up-link4 {
  display: contents;
}
.sign-up-icon13 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.sign-up-link5 {
  display: contents;
}
.sign-up-icon15 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.sign-up-links-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-up-desktop-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}
.sign-up-menu {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-up-links-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.sign-up-text18 {
  transition: 0.3s;
}
.sign-up-text18:hover {
  cursor: default;
}
.sign-up-follow-container1 {
  display: flex;
  align-items: center;
  margin-left: 4.5em;
  margin-right: 4.5em;
  flex-direction: column;
  justify-content: space-between;
}
.sign-up-text19 {
  transition: 0.3s;
  padding-bottom: var(--dl-space-space-halfunit);
}
.sign-up-text19:hover {
  cursor: default;
}
.sign-up-icons-container2 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.sign-up-link6 {
  display: contents;
}
.sign-up-icon17 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.sign-up-icon17:hover {
  transform: scale(1.15);
}
.sign-up-link7 {
  display: contents;
}
.sign-up-icon19 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.sign-up-icon19:hover {
  transform: scale(1.15);
}
.sign-up-link8 {
  display: contents;
}
.sign-up-icon21 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.sign-up-icon21:hover {
  transform: scale(1.15);
}
@media(max-width: 1600px) {
  .sign-up-container {
    background-image: linear-gradient(180deg, rgb(0, 0, 0) 0.00%,rgba(66, 57, 59, 0.97) 56.00%);
  }
  .sign-up-top-container {
    height: 692px;
    padding-bottom: 0px;
    background-color: transparent;
  }
  .sign-up-navbar {
    margin: 0px;
  }
  .sign-up-logo {
    font-size: 1.55em;
  }
  .sign-up-home {
    color: var(--dl-color-gray-white);
  }
  .sign-up-features {
    color: var(--dl-color-gray-white);
  }
  .sign-up-preview {
    color: var(--dl-color-gray-white);
  }
  .sign-up-container1 {
    width: 85%;
    height: 493px;
    margin-top: 2.3em;
    animation-name: fadeIn;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
  }
  .sign-up-component-spacer {
    width: 100%;
    height: 100%;
    margin-top: 0px;
    border-style: outset;
    border-width: 10px;
  }
  .sign-up-image {
    width: 752px;
  }
  .sign-up-form {
    width: 587px;
    height: 100%;
  }
  .sign-up-form1 {
    width: 604px;
  }
  .sign-up-age {
    padding-left: var(--dl-space-space-halfunit);
  }
  .sign-up-text12 {
    height: 100%;
  }
  .sign-up-footer {
    height: 76px;
  }
  .sign-up-desktop-footer {
    height: 100%;
  }
  .sign-up-links-container3 {
    margin-left: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 1200px) {
  .sign-up-get-started {
    border-radius: 10px;
  }
  .sign-up-form1 {
    width: 50%;
    padding: var(--dl-space-space-tripleunit);
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .sign-up-age {
    height: 120%;
  }
  .sign-up-gender {
    height: 120%;
  }
  .sign-up-get-started1 {
    border-radius: 10px;
  }
  .sign-up-mobile-footer {
    display: none;
  }
  .sign-up-desktop-footer {
    height: 100%;
  }
  .sign-up-menu {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }
  .sign-up-follow-container1 {
    margin-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 991px) {
  .sign-up-follow-container1 {
    margin-left: 3.2em;
    margin-right: var(--dl-space-space-quadruple);
  }
}
@media(max-width: 767px) {
  .sign-up-right-side {
    display: none;
  }
  .sign-up-burger-menu {
    display: flex;
  }
  .sign-up-mobile-footer {
    display: none;
  }
  .sign-up-links-container2 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .sign-up-text15 {
    font-size: 12px;
  }
  .sign-up-desktop-footer {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
  .sign-up-menu {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .sign-up-links-container3 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .sign-up-follow-container1 {
    margin-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .sign-up-top-container {
    width: 375px;
  }
  .sign-up-navbar {
    height: 100%;
    padding: 0px;
    margin-top: var(--dl-space-space-doubleunit);
    margin-bottom: 0px;
  }
  .sign-up-logo {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 3em;
    margin-top: 0px;
    text-align: center;
    margin-left: 0px;
  }
  .sign-up-text01 {
    color: var(--dl-color-primary-100);
  }
  .sign-up-get-started {
    color: var(--dl-color-gray-white);
    width: 236px;
    height: 4em;
    font-size: 1em;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-doubleunit);
    border-radius: 10px;
    padding-right: var(--dl-space-space-doubleunit);
    animation-name: fadeInUp;
    animation-delay: 0s;
    text-decoration: none;
    background-color: var(--dl-color-primary-100);
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .sign-up-burger-menu1 {
    display: none;
  }
  .sign-up-container1 {
    width: 375px;
    height: 100%;
  }
  .sign-up-component-spacer {
    height: 619px;
    border-width: 0px;
  }
  .sign-up-image {
    display: none;
  }
  .sign-up-form1 {
    width: 100%;
    height: 613px;
    padding: var(--dl-space-space-doubleunit);
  }
  .sign-up-heading {
    color: var(--dl-color-gray-white);
    width: 100%;
    font-size: 2em;
    align-self: center;
  }
  .sign-up-username {
    height: 4rem;
  }
  .sign-up-password {
    height: 4rem;
  }
  .sign-up-dropdowns {
    height: 4rem;
  }
  .sign-up-age {
    height: 100%;
  }
  .sign-up-gender {
    height: 100%;
  }
  .sign-up-get-started1 {
    color: var(--dl-color-gray-white);
    width: 80%;
    height: 4em;
    font-size: 1em;
    margin-top: 0px;
    margin-left: 0px;
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-doubleunit);
    border-radius: 10px;
    padding-right: var(--dl-space-space-doubleunit);
    animation-name: fadeInUp;
    animation-delay: 0s;
    text-decoration: none;
    background-color: var(--dl-color-primary-100);
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .sign-up-footer {
    height: 114px;
  }
  .sign-up-mobile-footer {
    height: 90px;
    display: flex;
    flex-direction: column;
  }
  .sign-up-icons-container1 {
    gap: var(--dl-space-space-unit);
    width: auto;
    height: var(--dl-size-size-doubleunit);
    align-self: center;
    margin-top: var(--dl-space-space-unit);
    align-items: center;
    justify-content: center;
  }
  .sign-up-links-container2 {
    gap: var(--dl-space-space-quadruple);
    width: 100%;
    height: 100%;
    align-self: center;
    margin-top: 0px;
    align-items: center;
    margin-bottom: 0px;
    flex-direction: column;
    justify-content: center;
  }
  .sign-up-text15 {
    font-size: 15px;
    text-align: left;
    margin-left: var(--dl-space-space-unit);
  }
  .sign-up-text16 {
    font-size: 12px;
    margin-left: var(--dl-space-space-unit);
  }
  .sign-up-desktop-footer {
    display: none;
  }
  .sign-up-links-container3 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .sign-up-follow-container1 {
    margin-left: 0px;
  }
}
