.success-signup-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.success-signup-top-container {
  width: 100%;
  height: 623px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #312f2f;
}
.success-signup-navbar {
  width: 1025px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.success-signup-logo {
  color: var(--dl-color-gray-white);
}
.success-signup-text01 {
  color: var(--dl-color-primary-100);
}
.success-signup-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.success-signup-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.success-signup-home {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
}
.success-signup-home:hover {
  cursor: pointer;
}
.success-signup-features {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  animation-name: none;
  animation-delay: 0s;
  text-decoration: none;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.success-signup-features:hover {
  cursor: pointer;
}
.success-signup-preview {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.success-signup-preview:hover {
  cursor: pointer;
}
.success-signup-contact {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.success-signup-contact:hover {
  cursor: pointer;
}
.success-signup-component {
  text-decoration: none;
}
.success-signup-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.success-signup-burger-menu1 {
  width: 24px;
  height: 24px;
}
.success-signup-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.success-signup-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.success-signup-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.success-signup-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.success-signup-icon03 {
  width: 24px;
  height: 24px;
}
.success-signup-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.success-signup-links-container1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.success-signup-text02 {
  margin-bottom: 8px;
}
.success-signup-text03 {
  margin-bottom: 8px;
}
.success-signup-text04 {
  margin-bottom: 8px;
}
.success-signup-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.success-signup-text06 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.success-signup-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.success-signup-link {
  display: contents;
}
.success-signup-icon05 {
  width: 24px;
  height: 24px;
}
.success-signup-link1 {
  display: contents;
}
.success-signup-icon07 {
  width: 24px;
  height: 24px;
}
.success-signup-link2 {
  display: contents;
}
.success-signup-icon09 {
  width: 24px;
  height: 24px;
}
.success-signup-hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.success-signup-banner {
  width: 100%;
  display: flex;
  padding: 48px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.success-signup-text07 {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  text-align: center;
}
.success-signup-text12 {
  color: var(--dl-color-gray-white);
  max-width: 1400px;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 32px;
}
.success-signup-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.success-signup-button {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-100);
}
.success-signup-button:hover {
  transform: scale(1.02);
}
.success-signup-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 6rem;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.success-signup-menu {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.success-signup-links-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.success-signup-follow-container1 {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.success-signup-text14 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.success-signup-icons-container1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.success-signup-link3 {
  display: contents;
}
.success-signup-icon11 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.success-signup-link4 {
  display: contents;
}
.success-signup-icon13 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.success-signup-link5 {
  display: contents;
}
.success-signup-icon15 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
@media(max-width: 1200px) {
  .success-signup-text07 {
    color: var(--dl-color-gray-white);
    font-size: 3rem;
  }
  .success-signup-text12 {
    color: var(--dl-color-gray-white);
  }
  .success-signup-button {
    color: var(--dl-color-gray-white);
    text-decoration: none;
    background-color: var(--dl-color-primary-100);
  }
}
@media(max-width: 991px) {
  .success-signup-navbar {
    width: 100%;
  }
  .success-signup-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .success-signup-right-side {
    display: none;
  }
  .success-signup-burger-menu {
    display: flex;
  }
  .success-signup-hero {
    justify-content: center;
  }
  .success-signup-banner {
    padding-left: 32px;
    padding-right: 32px;
  }
  .success-signup-text12 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .success-signup-menu {
    flex-direction: column;
  }
  .success-signup-links-container2 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .success-signup-top-container {
    height: 879px;
  }
  .success-signup-banner {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .success-signup-btn-group {
    flex-direction: column;
  }
  .success-signup-button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .success-signup-links-container2 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .success-signup-follow-container1 {
    margin-left: 0px;
  }
}
