.feature-card-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  position: relative;
  align-items: flex-start;
  border-color: var(--dl-color-gray-black);
  border-style: outset;
  border-width: 2px;
  border-radius: 20px;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card-icon {
  width: 24px;
  height: 24px;
}
.feature-card-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card-text {
  color: var(--dl-color-gray-white);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card-text1 {
  color: var(--dl-color-gray-white);
}








@media(max-width: 1600px) {
  .feature-card-feature-card {
    padding: var(--dl-space-space-doubleunit);
  }
  .feature-card-icon {
    fill: #D9D9D9;
    width: var(--dl-size-size-tripleunit);
    height: var(--dl-size-size-tripleunit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .feature-card-container {
    z-index: 100;
    margin-top: 0.2em;
  }
  .feature-card-root-class-name {
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1544367567-0f2fcb009e0b?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDIzfHx3b3Jrb3V0fGVufDB8fHx8MTcwOTg3MDE5NXww&ixlib=rb-4.0.3&w=1500');
    background-position: left;
  }
}
@media(max-width: 767px) {
  .feature-card-feature-card {
    flex-direction: row;
  }
  .feature-card-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card-container {
    flex-direction: column;
  }
  .feature-card-root-class-name3 {
    width: 100%;
  }
}
