.solid-button-container {
  display: flex;
  position: relative;
}
.solid-button-button {
  color: var(--dl-color-gray-white);
  width: auto;
  border: none;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-quadruple);
  border-radius: 50px;
  padding-right: var(--dl-space-space-quadruple);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-100);
}
.solid-button-root-class-name {
  width: auto;
  height: 100%;
  position: 0px;
  align-self: center;
  margin-bottom: -15px;
}
